.form {
  width: 50%;
  position: absolute;
  height: 50px;
  background-color: #0E0B16;
  top: 20%;
  color: #E7DFDD;
}

.form input {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  border: none;
  color: #E7DFDD;
  outline: none;
  background-color: #0E0B16;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #A239CA;
  transform: translateX(-100%);
}

.contentName {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .labelName .contentName,
.form input:not(:placeholder-shown) + .labelName .contentName {
  transform: translateY(-150%);
  font-size: 14px;
  color: #A239CA;
}

.form input:focus + .labelName::after,
.form input:valid + .labelName::after {
  transform: translateX(0%);
}

$btnColor: #4717F6;

.submitButton {
  color: #E7DFDD;
  box-sizing: border-box;
  border: none;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $btnColor;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 30px;
  transition: 220ms all ease-in-out;
  outline: none;

  &:hover {
    background-color: scale-color($btnColor, $lightness: +40%);
  }

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

.container {
  padding: 10px 10px 10px 10px;
  word-wrap: break-word;
  margin-top: 30px;
  width: 100%;
  height: 350px;
  border-style: solid;
  border-width: 3px;
  border-color: #A239CA;
  border-radius: 20px 20px;
}