.App {
  text-align: center;
}

.App-container {
  background-color: #efefef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.App-container div {
  flex: 1;
}
